<app-nav></app-nav>
<div class="grid-container">
  <h1 class="mat-h1">Request For Visa</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <!-- <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button> -->
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="row" style="padding-top:2%">
            <table id="customers">
              <th *ngFor = "let column of columns">
                {{column}}
              </th>
              <tr *ngFor = "let row of rows">
                <td>{{row.citizenName}}</td>
                <td>{{row.passportBranchName}}</td>
                <td>{{row.countryValue}}</td>
                <td>{{row.statusValue}}</td>
                <td>{{row.passportTypeValue}}</td>
                <td>{{row.issuanceExpiry | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                  <div class="form-select">
                    <select
                      class="form-control selectpicker"
                      [(ngModel)]="visaCountryId"
                    >
                      <option value="None">None</option>
                      <option value="801">Pakistan</option>
                      <option value="802">United States of America</option>
                    </select>
                  </div>
                </td>
                <td>
                  <button mat-raised-button color="primary" ng-hide=showButton(row.statusValue); 
                          (click)="requestForVisa(row.pvCitizenId, this.visaCountryId)">Request</button>
                </td>
              </tr>
            </table>
          </div>

          <jw-modal id="custom-modal-1" style=" font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
            'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align:center; border-radius: 20px; background-color: #f7f7f7 !important;">
            <h1 class="display-1" style="color:#3f51b5; font-size: xx-large"><b>Request For Visa</b></h1>
            <input type="text" id="disabledTextInput" class="form-control" [(ngModel)]="bodyText" 
                  style="text-align: center; color:#000000" disabled />
            <button class="btn btn-primary" (click)="closeModal('custom-modal-1');" data-dismiss="modal">Close</button>
          </jw-modal>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script>

                   var app = angular.module("app", []);

                   app.controller("ctrl", function($scope){

                        $scope.showButton = function(status){
                          
                          console.log('Status value in showButton method: ' + status);
                          if (status == 'Requested') {
                            return true;
                          } else {
                            return false;
                          }
                        }
                   });

        </script>