<app-nav></app-nav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="grid-container">
  <h1 class="mat-h1">Passport Status List</h1>
  <mat-grid-list cols="2" rowHeight="1000px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="row" style="padding-top:2%">
            <table id="customers">
              <th *ngFor = "let column of columns">
                {{column}}
              </th>
              <tr *ngFor = "let row of rows">
                <td>{{row.citizenName}}</td>
                <td>{{row.passportBranchName}}</td>
                <td>{{row.statusValue}}</td>
                <td>{{row.passportNumber}}</td>
                <td>{{row.passportTypeValue}}</td>
                <td>{{row.issuanceDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{row.issuanceExpiry | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                  <!-- <a  *ngIf="row?.statusValue === 'Approved'" href={{row.passportFilePath}} download>
                    <img alt="Download Passport"/>
                  </a> -->
                    <!-- <button (click)="downloadMyFile(row.passportFilePath)">download File</button> -->
                    <a  *ngIf="row?.statusValue === 'Approved'" 
                      download="Downloaded Passport" target="_blank" href={{row.passportFilePath}}>
                      Download Passport
                    </a>
                  
                </td>
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script>

                   downloadMyFile(){
                      const link = document.createElement('a');
                      link.setAttribute('target', '_blank');
                      link.setAttribute('href', 'abc.net/files/test.ino');
                      link.setAttribute('download', `products.csv`);
                      document.body.appendChild(link);
                      link.click();
                      link.remove();
                  }

        </script>
