<app-nav></app-nav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="grid-container">
  <h1 class="mat-h1">Passport Status List</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="row" style="padding-top:2%">
            <table id="customers">
              <th *ngFor = "let column of columns">
                {{column}}
              </th>
              <tr *ngFor = "let row of rows">
                <td>{{row.citizenName}}</td>
                <td>{{row.passportBranchName}}</td>
                <td>{{row.statusValue}}</td>
                <td>{{row.passportNumber}}</td>
                <td>{{row.passportTypeValue}}</td>
                <td>{{row.issuanceDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{row.issuanceExpiry | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>
                  <!-- <i class="fa fa-file-pdf-o" style="font-size:24px;color:red"></i> -->
                  <a href={{row.passportFilePath}} download><img alt="Download Passport"/></a>
                </td>
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<!-- <div style="padding-left:85%">
  <button mat-raised-button color="primary" routerLink="/home">Back To Home</button>
</div> -->
